<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhiyou.mapper.ChargeManageMapper">
	<select id="selectChargeManageByCondition" parameterType="Condition" resultMap="rm1">
		SELECT cm_id,cm_price, cm_date,ci_name, cm.ri_id,ri_name FROM chargemanage cm LEFT JOIN registrationinfo r ON	r.ri_id = cm.ri_id LEFT JOIN chargeitem c ON cm.ci_id = c.ci_id 
		<where>
			<if test="ri_no!=null and ri_no!=''">
				cm.ri_id = #{ri_no}
			</if>
			<if test="ri_name!=null and ri_name!=''">
				and r.ri_name like concat('%',#{ri_name},'%')
			</if>
			and	cm_flag = 1
		</where>
	</select>
	<resultMap type="Chargemanage" id="rm1">
		<id column="cm_id" property="cm_id"/>
		<result column="cm_price" property="cm_price"/>
		<result column="cm_date" property="cm_date"/>
		<association property="registrationinfor" javaType="Registrationinfor">
			<result column="ri_id" property="ri_id"/>
			<result column="ri_name" property="ri_name"/>
		</association>
		<association property="chargeitem" javaType="Chargeitem">
			<result column="ci_name" property="ci_name"/>
		</association>
	</resultMap>
	<select id="searchChargeItem" resultType="Chargeitem">
		select ci_id,ci_name from chargeitem
	</select>
	<select id="searchPriceByCi_id" parameterType="Integer" resultType="Chargeitem">
		select ci_amount from chargeitem where ci_id=#{ci_id}
	</select>
	
	<insert id="addChargeManage" parameterType="Chargemanage">
		insert into chargemanage (cm_price,ri_id,ci_id) values(#{cm_price},#{ri_id},#{ci_id})
	</insert>
</mapper>